/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams       = "$HOME/run/Azurmes/gl-popstructure/bam.list"
    outdir     = "$HOME/run/Azurmes/gl-popstructure/results"
    chr_ref    = "$HOME/run/Azurmes/gl-popstructure/chromosomes.txt"
    PCAngsd    = "$HOME/src/pcangsd/pcangsd.py"
    min_depth  = 3
    k          = 2
    skip_plots = false
    help       = ''
}

profiles {

    standard {
        includeConfig 'profile/local.config'
    }

    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profile/rackham.config'
    }
}
