/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

conda.enabled = true
report.overwrite = true
timelime.overwrite = true

// Input and output parameters
params {
    bamlist_tsv = ''
    outdir = ''
    chr = ''
    help = null
    pruneDist = 50
    prune = true
    minMapQ = 20
    minQ = 20
    minMaf = 0.05
    minInd = null
    setMinDepthInd = 2
    setMinDepth = 2
}

profiles {
    standard {
        process.executor = 'local'
    }
    dardel {
        includeConfig 'profile/dardel.config'
    }
}

