/*
 * -------------------------------------------------
 *  GTL! - NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams       = "$HOME/run/Azurmes/nf-GL_popstructure/bam.list"
    outdir     = "$HOME/run/Azurmes/nf-GL_popstructure/results"
    chr_ref    = "$HOME/run/Azurmes/nf-GL_popstructure/chromosomes.txt"
    PCAngsd    = "$HOME/src/pcangsd/pcangsd.py"
    PCAngsdDir = "$HOME/src/pcangsd"
    min_depth  = 3
    k          = 2
    skip_plots = false
    help       = ''
}

profiles {
    local {
        includeConfig 'profiles/local.config'
    }
    rackham {
       /*
        * Edit for your cluster
        */
        includeConfig 'profiles/rackham.config'
    }
}
