params {
    config_profile_name = 'Local profile'
    config_profile_description = 'Profile for local execution'
    }
process {
    executor = 'local'
    cpus = 4
    memory = '24 GB'
    conda = '../enviroment.yml'

    withLabel: 'RAM_high' {
        cpus = 10
        memory = '48 GB'
    }
    withLabel: 'FAST' {
        cpus = 1
        memory = '6 GB'
    }
}
